body {
  margin: 0;
  padding: 0;
  background-color: #ededfa !important;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: none !important;
  padding-bottom: 20px;
}

.card-header {
  display: inline-block;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;

  :hover {
    border-color: #000000;
    background: #f7f7f7;
  }
}